<!-- 
Team Memebers Contributiing to this page: 
Davis DeSarle -
Spencer Carter - -->

{% extends 'layout.html' %}
{% block content %}
<section class="aboutus">
    <div class="body">
        <div class="container">
            <div class="row" style="margin: 10px;">
                    <div class="col-md-6">
                        <div class="imgSection">
                            <div class="cover" style="margin-top: -25px;">
                                <img src={{ url_for('static', filename='images/matt.jpeg' ) }}>
                            </div>
                        </div>  
                    
                    </div>

                    <div class="col-md-6">
                    <div class="content-section">
                        <h2>Dr. Matt McSweeney</h2>
                        <p>Experienced Veterinarians. Compassionate Care. A Personal Approach.</p>
                        <p>
                            Education: Doctorate in Veterinary Medicine received by Colorado State University</p>                      
                        <p>
                            Dr. Matt McSweeney is a highly accomplished individual with a diverse background. 
                            As a native to the Silver State, he was raised in Gardnerville, Nevada where he graduated from Douglas High School. 
                            After finishing up his high school education, he served our country in the United States Air Force, where he was a 
                            four-year mechanic for the 335th Fighter Wing stationed out of Greensboro, NC. 
                        </p>
                        <p>
                            After serving his country, Matt returned to Nevada to pursue a higher education. 
                            He was accepted to the University of Nevada, Reno where he was able to graduate with a BS in animal science with a high distinction in his field. 
                            Matt continued to pursue the Doctorate in Veterinarian Medicine path and attended the prestigious Colorado State University. 
                            After receiving his DVM, he was able to move back to Nevada with his son and join Lone Mountain in June 2009 and has been an integral part of their team ever since.
                        </p>
                        <p>
                            In addition to his work, Matt enjoys spending time with his family and friends. 
                            Matt is a dedicated family man and has chosen to raise his children in the picturesque surroundings of western Nevada, surrounded by the stunning Sierra Nevada and Great Basin Desert. 
                            He met his wife Cameron in 2010, and have two children, Delaney and Orion where they all share a love of rugby, skiing, fishing, camping, traveling, barbecues, and movies. 
                            Matt's commitment to his community is demonstrated through his passion for his career and a love of his family and will continue to bring the best service to the Greater Northern Nevada area.     
                        </p>
                        <p>
                            Dr Matt currently has 3 dogs: 
                            <br/>Bodie (Rottweiler), Indy (American Bulldog), Jack Jack (a Frenchy)
                            <br/>Along with 5 cats:
                            <br/>Walter, Peanut, Samara, Marshmellow, and Tina Purrner.
                            <br/>He also has 3 goats: 
                            <br/>Charlie, Summer, and Daisy.
                        </p>

            
                    </div>
                </div>
        
            </div>
        </div>
            
    </div>
</section>
     
 <!--Footer-->
 <footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <img src={{ url_for('static', filename='images/bmvhlogo.jpeg' ) }} width="50" height="50">
                <hr class="light">
                <p>(775) 360-6148</p>
                <p>Matt@Battlebornmvh.com</p>
                <p>Please allow up to 48 hours for a call back or returned email.</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Our Hours</h5>
                <hr class="light">
                <p>Friday: By appointment only</p>
                <p>Saturday: By appointment only</p>
                <p>Sunday: By appointment only</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Service Area</h5>
                <hr class="light">
                <p>Reno, NV</p>
                <p>Spark, NV</p>
                <p>Carson City, NV</p>
                <p>Minden, NV</p>
            </div>
            <div class="col-expand-lg">
                <hr class="light">
                <h5>&copy; https://battlebornmvh.com </h5>
            </div>
        </div>
    </div>
</footer>

{% endblock %}