{% extends 'layout.html' %}
{% block content %}
<section class="aboutus">
    <div class="body">
        <div class="container">
            <div class="row">
                    <div class="col-md-6">
                        <div class="imgSection">
                            <div class="cover">
                                <img src={{ url_for('static', filename='images/matt.jpeg' ) }}>
                            </div>
                        </div>  
                    
                    </div>

                    <div class="col-md-6">
                    <div class="content-section" style="margin: 10px;">
                        <h2>Dr. Matt McSweeney</h2>
                        <p>
                            Experienced Veterinarians, Compassionate Care, A Personal Approach
                            <br/>
                            Dr. Matt is Fear Free certified
                            </p>
                        <p>
                            Education: Doctorate of Veterinary Medicine, from Colorado State University</p>
                      
                        <p>
                            Dr. Matt McSweeney grew up in Gardnerville, Nevada and graduated from Douglas High School. 
                            After graduation, he enlisted in the Air Force and worked as a mechanic for the 335th Fighter Wing stationed out of Greensboro, NC. 
                            After his four-year enlistment, he moved back to Nevada to attend college at the University of Nevada, Reno, receiving his BS in animal science with high distinction. 
                            Matt then attended veterinary school at Colorado State University.
                        </p>
                        <p>
                            Matt returned to western Nevada to raise his son next to the beautiful Sierra Nevada and the Great Basin Desert. 
                            He started with Lone Mountain in June 2009. In 2010, he met his wife, Cameron and they now have 2 children, Delaney and Orion. 
                            Matt and his family enjoy rugby, skiing, fishing, camping, traveling, barbecues, movies, and spending time with friends and family.
                        </p>
                      
                        <p>
                            Dr Matt currently has 3 dogs, 
                            <br/>Bodie: a Rottweiler, Indy: a American Bulldog,Jack Jack: a Frenchy
                            <br/>Along with 5 cats:
                            <br/>Walter, Peanut, Samara, Marshmellow, and Tina Purrner.
                            <br/>He also has 3 goats: 
                            <br/>Charlie, Summer, and Daisy.
                        </p>
                    </div>
                </div>
    
            
                    
            </div>
        </div>    
    </div>
</section>
     
 <!--Footer-->
 <footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <img src={{ url_for('static', filename='images/bmvhlogo.jpeg' ) }} width="50" height="50">
                <hr class="light">
                <p>(775) 360-6148</p>
                <p>Matt@Battlebornmvh.com</p>
                <p>Please allow up to 48 hours for a call back or returned email.</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Our Hours</h5>
                <hr class="light">
                <p>Friday: By appointment only</p>
                <p>Saturday: By appointment only</p>
                <p>Sunday: By appointment only</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Service Area</h5>
                <hr class="light">
                <p>Reno, NV</p>
                <p>Spark, NV</p>
                <p>Carson City, NV</p>
                <p>Minden, NV</p>
            </div>
            <div class="col-expand-lg">
                <hr class="light">
                <h5>&copy; https://battlebornmvh.com </h5>
            </div>
        </div>
    </div>
</footer>

{% endblock %}