{% extends 'layout.html' %}


{% block content %}

    <h1>Make An Appointment</h1>
    <br>
    <form method="POST" action="/appointment/request">
      <label for="weekday">Preferred Day:</label>
        <select id="weekday" name="weekday">
          <option value=" "> </option>
          <!-- <option value="volvo">Sunday</option> -->
          <option value="Monday">Monday</option>
          <!-- <option value="Tuesday">Tuesday</option> -->
          <!-- <option value="Wednesday">Wednesday</option> -->
          <!-- <option value="Thursday">Thursday</option> -->
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
        </select>
      <br>  
      <label for="timeslot">Time:</label>
        <select id="timeslot" name="timeslot">
          <option value=" "> </option>
          <option value="Morning">Morning</option>
          <option value="Afternoon">Afternoon</option>
        </select>
      <label for="pet_id">Pet:</label>
      <select id="pet_id" name="pet_id">
        {% for pet in pets %}
        <option value="{{ pet.id }}">{{ pet.pet_name }}</option>
        {% endfor %}
      </select><br><br>
      <input type="submit" value="Add Appointment">
    </form>
{% endblock %}


weekdayWanted = db.Column(db.DateTime, nullable=False)
timeWanted = db.Column(db.String(20))
dateSheduled= db.Column(db.String(20))
timeSheduled = db.Column(db.String(20))
scheduled = db.Column(db.Boolean, default=False, nullable=False)
cancelled = db.Column(db.Boolean, default=False, nullable=False)
#Link to Pet Owner in user Database
pet_id = db.Column(db.Integer, db.ForeignKey('pet.id'))
owner_id = db.Column(db.Integer, db.ForeignKey('user.id'))




<!-- <form method="POST">
  <div class="form-group row">
  <div class="col-md-6">
    {{ form.hidden_tag() }}
    {{ form.firstName.label(class="form-label") }}
    {{ form.firstName(class="form-control") }}
  </div>
  <div class="col-md-6">
    {{ form.lastName.label(class="form-label") }}
    {{ form.lastName(class="form-control") }}
  </div>
  </div>
  <div class="form-group row">
  <div class="col-md-6">			
    {{ form.phoneNumber.label(class="form-label") }}
    {{ form.phoneNumber(class="form-control") }}
  </div>
  <div class="col-md-6">
    {{ form.email.label(class="form-label") }}
    {{ form.email(class="form-control") }}
  </div>
  </div>
  <div class="form-group row">
  <div class="col-md-6">			
    {{ form.pet_name.label(class="form-label") }}
    {{ form.pet_name(class="form-control") }}
  </div>
  <div class="col-md-6">
    {{ form.pet_dob.label(class="form-label") }}
    {{ form.pet_dob(class="form-control") }}
  </div>
  </div>
  <div class="form-group row">
  <div class="col-md-6">			
    {{ form.pet_species.label(class="form-label") }}
    {{ form.pet_species(class="form-control") }}
  </div>
  <div class="col-md-6">
    {{ form.pet_breed.label(class="form-label") }}
    {{ form.pet_breed(class="form-control") }}
  </div>
  </div>
    {{ form.streetNumber.label(class="form-label") }}
    {{ form.streetNumber(class="form-control") }}
  <div class="form-group row">
  <div class="col-md-4">			
    {{ form.city.label(class="form-label") }}
    {{ form.city(class="form-control") }}
  </div>
  <div class="col-md-4">
    {{ form.state.label(class="form-label") }}
    {{ form.state(class="form-control") }}
  </div>
  <div class="col-md-4">
    {{ form.zipcode.label(class="form-label") }}
    {{ form.zipcode(class="form-control") }}
    </div>
  </div>
  <div class="text-center">
    {{ form.submit(class="btn btn-secondary") }}
  </div>		
</form> -->