{% extends 'layout.html' %}
{% block content %}
  <h1>Unscheduled Appointments</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Pet</th>
        <th>Service</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {% for appointment in appointments %}
        <tr>
          <td>{{ appointment.firstName }} {{ appointment.lastName }}</td>
          <td>{{ appointment.pet_name }}</td>
          <td>{{ appointment.service }}</td>
          <td>{{ appointment.weekday }}, {{ appointment.dateSheduled }}</td>
          <td>{{ appointment.timeSlot }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

