{% extends 'layout.html' %}
{% block content %}
<h1>Appointments to Schedule</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Owner</th>
      <th>Pet Name</th>
      <th>Service</th>
      <th>Date</th>
      <th>Time</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for appointment in appointments %}
      <tr>
        <td>{{ appointment.id }}</td>
        <td>{{ appointment.owner_id }}</td>
        <td>{{ appointment.pet_name }}</td>
        <td>{{ appointment.service }}</td>
        <td>{{ appointment.weekday }} {{ appointment.dateSheduled }}</td>
        <td>{{ appointment.timeSlot }}</td>

      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
