{% extends 'layout.html' %}

{% block content %}
    <h1>Enter Authentication Code</h1>
    <p>Please enter the authentication code sent to your email:</p>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.auth_code.label(class="form-control-label") }}
            {{ form.auth_code(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
