{% extends 'layout.html' %}

{% block content %}
    <h1>Confirm Account to Complete Account Registration</h1>
    <p>Confirm your account either by email or text:</p>
    <br>
    <form method="POST" action="{{ url_for('verify_account') }}">
        <div>
            <input type="radio" id="email" name="method" value="email">
            <label for="email">Send Email</label>
        </div>
        <div>
            <input type="radio" id="phoneNumber" name="method" value="phoneNumber">
            <label for="phoneNumber">Send Text</label>
        </div>
        <button type="submit">Submit Button</button>
    </form>
{% endblock %}
