{% extends 'layout.html' %}
{% block content %}
<center>
<h1>
    Contact Us
</h1>

<p>
    The best care for your best friend!
    <br/>
    Please send us a message or call us for an appointment.
    <br/>
    For emergencies that occur outside business hours, please call.
</p>

 
<h2>Battleborn Mobile Veterinary Services</h2>
<h3>(775) 360-6148</h3>
<h3>Matt@Battlebornmvh.com</h3>
<p>
    Please allow up to 48 hours for a call back or returned email. 
    <br/>Dr Matt works 3 days a week in clinic, and out in the field 3 days a week. 
    <br/>Calls/emails are generally responded to in the evenings after he gets home
</p>
<p>
    Hours:
    <br/>
    Friday: By appointment only
    <br/>
    Saturday: By appointment only
    <br/>
    Sunday: By appointment only
<br/>
</p>




</center>
{% endblock %}