<!DOCTYPE html>
<html>
  <head>
    <title>Create Appointment</title>
  </head>
  <body>
    <h1>Create Appointment</h1>
    <form method="POST" action="{{ url_for('create_appointment') }}">
      {{ form.hidden_tag() }}
      <label for="pet_name">Pet Name:</label>
      {{ form.pet_name }}
      <br><br>
      <label for="firstName">First Name:</label>
      {{ form.firstName(value=current_user.firstName, class="form-control") }}
      <br><br>
      <label for="lastName">Last Name:</label>
      {{ form.lastName(value=current_user.lastName, class="form-control") }}
      <br><br>
      <label for="phoneNumber">Phone Number:</label>
			{{ form.phoneNumber(value=current_user.phoneNumber, class="form-control") }}
      <br><br>
      <label for="streetNumber">Street Number:</label>
      {{ form.streetNumber(value=current_user.streetNumber, class="form-control") }}
      <br><br>
      <label for="city">City:</label>
      {{ form.city(value=current_user.city, class="form-control") }}
      <br><br>
      <label for="state">State:</label>
      {{ form.state(value=current_user.state, class="form-control") }}
      <br><br>
      <label for="zipcode">Zipcode:</label>
      {{ form.zipcode(value=current_user.zipcode, class="form-control") }}
      <br><br>				<div class="form-group row">
        <div class="col-md-6">
          <div>
            {{ form.weekday.label(class="form-label") }}
            <select id="weekday" name="weekday">
            <option value=" "> </option>
            <!-- <option value="volvo">Sunday</option> -->
            <option value="Monday">Monday</option>
            <!-- <option value="Tuesday">Tuesday</option> -->
            <!-- <option value="Wednesday">Wednesday</option> -->
            <!-- <option value="Thursday">Thursday</option> -->
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            </select>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <div class="col-md-6">
          <div>
            {{ form.timeSlot.label(class="form-label") }}
            <select id="timeSlot" name="timeSlot">
            <option value=" "> </option>
            <option value="Morning">Morning</option>
            <option value="Afternoon">Afternoon</option>
            </select>
          </div>
        </div>
      </div>
      {{ form.submit }}
    </form>
  </body>
</html>
