<!DOCTYPE html>
<html>
  <head>
    <title>Create Appointment</title>
  </head>
  <body>
    <h1>Create Appointment</h1>
    <form method="POST" action="{{ url_for('create_appointment') }}">
      {{ form.hidden_tag() }}
      <label for="pet_name">Pet Name:</label>
      {{ form.pet_name }}
      <br><br>
      <label for="firstName">First Name:</label>
      {{ form.firstName }}
      <br><br>
      <label for="lastName">Last Name:</label>
      {{ form.lastName }}
      <br><br>
      <label for="phoneNumber">Phone Number:</label>
      {{ form.phoneNumber }}
      <br><br>
      <label for="weekday">Date:</label>
      {{ form.weekday }}
      <br><br>
      <label for="timeSlot">Time Slot:</label>
      {{ form.timeSlot }}
      <br><br>
      {{ form.submit }}
    </form>
  </body>
</html>
