<!DOCTYPE html>
<html>
  <head>
    <title>Create Appointment</title>
  </head>
  <body>
    <h1>Create Appointment</h1>
    <form method="POST" action="{{ url_for('create_appointment') }}">
      {{ form.hidden_tag() }}
      <label for="pet_name">Pet Name:</label>
      {{ form.pet_name }}
      <br><br>
      <label for="firstName">First Name:</label>
      {{ form.firstName }}
      <br><br>
      <label for="lastName">Last Name:</label>
      {{ form.lastName }}
      <br><br>
      <label for="phoneNumber">Phone Number:</label>
      {{ form.phoneNumber }}
      <br><br>
      <label for="streetNumber">Street Number:</label>
      {{ form.streetNumber }}
      <br><br>
      <label for="city">City:</label>
      {{ form.city }}
      <br><br>
      <label for="state">State:</label>
      {{ form.state }}
      <br><br>
      <label for="zipcode">Zipcode:</label>
      {{ form.zipcode }}
      <br><br>
      <label for="weekday">Date:</label>
      {{ form.weekday }}
      <br><br>
      <label for="timeSlot">Time Slot:</label>
      {{ form.timeSlot }}
      <br><br>
      <label for="dateSheduled">Scheduled Date:</label>
      {{ form.dateSheduled }}
      <br><br>
      <label for="timeSheduled">Scheduled Time:</label>
      {{ form.timeSheduled }}
      <br><br>
      <label for="scheduled">Scheduled:</label>
      {{ form.scheduled }}
      <br><br>
      <label for="cancelled">Cancelled:</label>
      {{ form.cancelled }}
      <br><br>
      {{ form.submit }}
    </form>
  </body>
</html>
