{% extends 'layout.html' %}
{% block content %}

<!--
	<h1>{{ current_user.firstName | capitalize }} {{ current_user.lastName | capitalize }}'s Dashboard</h1>
	<br/>

<div class="card">
        <p class="card-text">
            <div class="container">
            <div class="row">
                <div class="col-8">
        
            <strong>First Name:</strong>
            {{ current_user.firstName }}
            <strong>Last Name:</strong>
            {{ current_user.lastName }}  <br/>

            <strong>Username:</strong>
            {{ current_user.username }}<br/>

            <strong>Email:</strong>
            {{ current_user.email }}<br/>

            <strong>Contact Number:</strong>
            {{ current_user.phoneNumber }}<br/>

            <strong>Address:</strong>
            {{ current_user.streetNumber }}<br/>
        </p>
        <a href="{{ url_for('profile_update') }}" class="btn btn-primary">Update Profile</a>
        <a href="/profile/picture/update" class="btn btn-primary">Update Profile Picture</a>

        
    </div>
    <div class="col-4">
        {% if current_user.image_file != 'default.jpg' %}
            <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file)}}" width="200" align="right">
        {% else %}
            <img src="{{ url_for('static', filename='images/default.jpeg')}}" width="200" align="right">
        {% endif %}
    </div>
        
</div>
</br>
</div>
</div>

<br>
<div class="card">
    <br>
    <h2 align="Center">Your Upcoming Appointments    </h2> 
        <a href="/appointment/request" align="Center">
            <button type="button" class="btn btn-success" style="background-color:Navy">Request an Appointment</button>
        </a>
     <div class="card-body">     
         <p class="card-text">
             <div class="container">                           
                <ul style="list-style-type:none;">
                    {% for appointment in appointments %}
                    <div class="row">
                        <div class="col-8">
                            <li>                        
                            {% if not appointment.scheduled %}
                                **Pending Approval** 
                            {% else %}
                                **Approved** 
                            {% endif %} - {{ appointment.pet_name }} - {{ appointment.service }} - {{ appointment.dateSheduled }} - {{ appointment.timeSheduled }} -
                                <a href="/appointment/cancel/{{ appointment.id }}">Cancel Appointment</a> - 

                            </li>
                            <li>===============================================================</li>
                        </div>  
                    </div>
                {% endfor %}                
                </ul>
             </div>
         </p>
     </div>
 </div>
 <br>
<div class="card">
    <br>
    <h2 align="Center">Your Pets</h2>
        <a href="/pet/add" align="Center">
            <button type="button" class="btn btn-success" style="background-color:Navy">Add a Pet</button>
        </a>
    <div class="card-body">     
        <p class="card-text">
            <div class="container">                            
                <ul style="list-style-type:none;">
                    {% for pet in pets %}
                            <div class="row">
                                <div class="col-4">
                                    {% if pet.pet_pic != 'animals.jpeg' %}
                                        <img src="{{ url_for('static', filename='pet_pics/' + pet.pet_pic) }}" width="200" align="Left">
                                    {% else %}
                                        <img src="{{ url_for('static', filename='images/animals.jpeg') }}" width="200" align="Left">
                                    {% endif %}
                                </div>
                                <div class="col-4">
                                    <ul>
                                        <li>Name: {{ pet.pet_name }}</li>
                                        <li>Species: {{ pet.pet_species }} - Breed: {{ pet.pet_breed }}</li>
                                        <li>Color: {{ pet.pet_color }}</li>
                                        <li>Date of Birth: {{ pet.pet_dob }}</li>
                                        <li>Height: {{ pet.pet_hieght }} ft Weight: {{ pet.pet_weight }} lbs</li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <ul>
                                        <a href="/view_pdf/{{ pet.id }}" target="_blank">
                                            View Pet Record
                                        </a>                                        
                                    </ul>
                                </div>
                            </div>
                            <br>
                    {% endfor %}
                </ul>
            </div>
        </p>
    </div>
</div>
</div>
   --> 

<!--Header-->
<section class="dashboard">
    <div class="container py-5">
        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4" style="text-align: center;">
              
                <h1>Welcome {{ current_user.firstName | capitalize }} {{ current_user.lastName | capitalize }} to Your Dashboard</h1>
              
            </nav>
          </div>
        </div>

       
        <!--Customer Tag Information-->
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                    {% if current_user.image_file != 'default.jpg' %}
                    <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file)}}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/default.jpeg')}}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                    {% endif %} 
                    <h5 class="my-3">{{ current_user.firstName }} {{ current_user.lastName }}</h5>
                    <p class="text-muted mb-1">Customer</p>
                    <p class="text-muted mb-4">{{ current_user.city }}, {{ current_user.state }}</p>
                    <div class="d-flex justify-content-center mb-2">
                  <a href="{{ url_for('profile_update') }}" class="btn btn-primary" style="background-color: #003366; border-color: #003366;">Update Profile</a>
                  <a href="/profile/picture/update" class="btn btn-outline-primary ms-1" style="color: #003366; border-color: #003366;">Update Profile Picture</a>
                </div>
              </div>
            </div>


            <!--Appointment Information-->
            <div class="card mb-4 mb-lg-0">
              <div class="card-body p-0">
                <ul class="list-group list-group-flush rounded-3">
                  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                    <div class="d-flex justify-content-center flex-column align-items-center">
                      <h2 align="center">Your Upcoming Appointments</h2>
                      <br>
                      <a href="/appointment/request">
                          <button type="button" class="btn btn-success" style="background-color: #FFA300; border-color: #FFA300;">Request an Appointment</button>
                      </a>
                      <br>  
                  </div>
                  </li>

                  
                  <div class="appointmentstatus">
                    <div class="container" >                           
                      <ul style="list-style-type:none;">
                        
                        {% for appointment in appointments %}
                          <div class="row">
                            <div class="d-flex justify-content-center flex-column align-items-center">
                                                     
                                {% if not appointment.scheduled %}
                                  <h5 align="center">**Pending Approval** </h5>
                                {% else %}
                                  **Approved** 
                                {% endif %} 
                                <ui>
                                  <li> Name: {{ appointment.pet_name }}</li>
                                  <li> Service: {{ appointment.service }}</li>
                                  <li> Date: {{ appointment.dateSheduled }}</li>
                                  <li> Time: {{ appointment.timeSheduled }}</li>
                                </ui>
                                <br>
                                <a href="/appointment/cancel/{{ appointment.id }}" align="center">Cancel Appointment </a> 

                              
                            </div>  
                          </div>
                        {% endfor %}                
                      </ul>
                    </div>
                  </div>
                
                  
                </ul>
              </div>
            </div>
          </div>

          <!--Customer Information-->
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ current_user.firstName }} {{ current_user.lastName }}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ current_user.email }}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Username</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ current_user.username }}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Phone</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ current_user.phoneNumber }}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Address</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{ current_user.streetNumber }}</p>
                  </div>
                </div>
              </div>
            </div>






            <!--Pet Information-->
              <div class="card mb-5">
                <div class="card-body">
                  <div class="row">
                    <h2 align="Center">Your Pets</h2>
                    <a href="/pet/add" align="Center">
                    <button type="button" class="btn btn-success" style="background-color: #FFA300; border-color: #FFA300;">Add a Pet</button>
                    </a>
                  </div>
                  <hr>

                  
                  <div class="row">
                    {% for pet in pets %}
                    <div class="col-md-6">
                      <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                          <div class="container">                            
                            <ul style="list-style-type:none;">
                                
                                        <div class="row">
                                            <div class="col-4">
                                                {% if pet.pet_pic != 'animals.jpeg' %}
                                                    <img src="{{ url_for('static', filename='pet_pics/' + pet.pet_pic) }}" width="200" align="Left">
                                                {% else %}
                                                    <img src="{{ url_for('static', filename='images/animals.jpeg') }}" width="200" align="Left">
                                                {% endif %}
                                            </div>
                                            <br>
                                                <ul>
                                                    <li>Name: {{ pet.pet_name }}</li>
                                                    <li>Species: {{ pet.pet_species }}
                                                    <li>Breed: {{ pet.pet_breed }}</li>
                                                    <li>Color: {{ pet.pet_color }}</li>
                                                    <li>Date of Birth: {{ pet.pet_dob }}</li>
                                                    <li>Height: {{ pet.pet_hieght }} ft Weight: {{ pet.pet_weight }} lbs</li>
                                                </ul>
                                            
                                            
                                                <ul>
                                                    <a href="/view_pdf/{{ pet.id }}" target="_blank">
                                                        View Pet Record
                                                    </a>                                        
                                                </ul>
                                            
                                        </div>
                                        
                                
                            </ul>
                        </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    </div>
                    

                  </div>
                </div>
              </div>
            



            
          </div>
        </div>
      </div>
    </section>
    
</section> 
{% endblock %}
