{% extends 'layout.html' %}
<script>
    $(document).ready(function() {
        // When an edit button is clicked
        $("button[id^='edit-']").click(function() {
            // Get the appointment ID from the button's ID
            var appointmentId = $(this).attr('id').split('-')[1];

            // Send an AJAX request to the server to get the appointment details
            $.ajax({
                url: "/appointment/edit/" + appointmentId,
                type: "GET",
                dataType: "html",
                success: function(response) {
                    // Replace the appointments list with the appointment form
                    $("#appointments-list").html(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
</script>

{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}

	<h1>{{ current_user.firstName | capitalize }} {{ current_user.lastName | capitalize }}'s Dashboard</h1>
	<br/>

<div class="card">
    <div class="card-body">
        <p class="card-text">
            <div class="container">
            <div class="row">
                <div class="col-8">
        
            <strong>First Name:</strong>
            {{ current_user.firstName }}
            <strong>Last Name:</strong>
            {{ current_user.lastName }}  <br/>

            <strong>Username:</strong>
            {{ current_user.username }}<br/>

            <strong>Email:</strong>
            {{ current_user.email }}<br/>

            <strong>Contact Number:</strong>
            {{ current_user.phoneNumber }}<br/>

            <strong>Address:</strong>
            {{ current_user.streetNumber }}<br/>

        </p>
    </div>
    <div class="col-4">
            {% if current_user.profile_pic %}

            <img src="{{ url_for('static', filename='images/' + current_user.profile_pic)}}" width="200" align="right">
            
            {% else %}

            <img src="{{ url_for('static', filename='images/matt.jpeg')}}" width="200" align="right">

            {% endif %}
        
    </div>
</div>
</br>
<div class="card">
    <br>
    <h2 align="Center">Your Upcoming Appointments    </h2> 
        <a href="/appointment/request" align="Center">
            <button type="button" class="btn btn-success" style="background-color:Navy">Make an Appointment</button>
        </a>


     <div class="card-body">     
         <p class="card-text">
             <div class="container">                           
                <ul style="list-style-type:none;">
                    {% for appointment in appointments %}
                    <div class="row">
                        <div class="col-8">
                            <li> - {{ appointment.pet_name }} - {{ appointment.service }} - {{ appointment.dateSheduled }} - {{ appointment.timeSheduled }} -
                                <button type="button" id="edit-{{ appointment.id }}">Edit</button> - <button type="button">Remove</button>
                            </li>
                            <li>==========================================================</li>
                        </div>
                    </div>
                    {% endfor %}
                    
                </ul>
             </div>
         </p>
     </div>
 </div>
<div class="card">
    <br>
    <h2 align="Center">Your Pets</h2>
        <a href="/pet/add" align="Center">
            <button type="button" class="btn btn-success" style="background-color:Navy">Add a Pet</button>
        </a>
    <div class="card-body">     
        <p class="card-text">
            <div class="container">                            
                <ul style="list-style-type:none;">
                    {% for pet in pets %}
                        <div class="row">
                            <div class="col-8">
                                <li>
                                    {% if pet.pet_pic %}
                                    <img src="{{ url_for('static', filename='images/' + pet.pet_pic) }}" width="200" align="left">
                                    {% else %}
                                    <img src="{{ url_for('static', filename='images/animals.jpeg') }}" width="200" align="left">
                                    {% endif %}
                                </li>
                                <li>    Name: {{ pet.pet_name }}</li>
                                <li>   Species: {{ pet.pet_species }}   Breed: {{ pet.pet_breed }} 
                                <li>   Color: {{ pet.pet_color }}</li>
                                <li>    {{ pet.pet_dob }}</li>
                                <li>    Height: {{ pet.pet_hieght }} ft Weight: {{ pet.pet_weight }} lbs</li>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </p>
    </div>
</div>
</div>
       
    
{% endblock %}
