{% extends 'layout.html' %}

{% block content %}
    <div>
        <center>
            <h1>Supporting Healthy Animals</h1>
        </center>
    </div>


    <div>
        <center>
            <img src={{ url_for('static', filename='images/bmvhlogo.jpeg' ) }}  
                 alt="https://battlebornmvh.com/" style="width:30%;height:30%;">
        </center>
    </div>
    <div>
        <center>    
            <h2>Schedule a well-pet appointment today!</h2>
            <h3>(775) 360-6148</h3>
        </center>
    </div>
{% endblock %}

