{% extends 'layout.html' %}
{% block content %}

<br/>
<h1>Customer Records</h1>
<form action="/staff/records/search">
    <input type="text" name="q" placeholder="Enter Last Name...">
    <button type="submit">Search</button>
</form>
<br>
<br>
<table>
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>PDF Record</th>
            <th>Pets</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.lastName }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phoneNumber }}</td>
            <td>
                {% if user.pdfRecord %}
                <a href="{{ url_for('static', filename='pet_records/' + pet.pdf_Record) }}">View PDF</a>
                <br>
                <form action="/staff/records/update_pdf/{{ user.id }}" method="post" enctype="multipart/form-data">
                    <input type="file" name="pdf_file">
                    <button type="submit">Update PDF</button>
                </form>
                {% else %}
                No PDF record found
                <br>
                <form action="/staff/records/save_pdf" method="post" enctype="multipart/form-data">
                    <input type="file" name="pdf_file">
                    <button type="submit">Upload PDF</button>
                </form>
                {% endif %}
            </td>
            <td>
                {% for pet in user.pets %}
                    {{ pet.pet_name }} ({{ pet.pet_species }}) link to {{ pet.record}}<br>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
