{% extends 'layout.html' %}
{% block content %}
<h1>Customer Records</h1>
<form action="/staff/records/search">
    <input type="text" name="q" placeholder="Enter Last Name...">
    <button type="submit">Search</button>
</form>
<table>
    <thead>
        <tr>
            <th> Last Name </th>
            <th> First Name </th>
            <th> Email </th>
            <th> Phone Number </th>
            <th> PDF Record </th>
        </tr>
    </thead>
    <tbody>
        <td colspan="8"><hr></td>
        {% for user in users %}
        <tr valign="top">
            <td> {{ user.lastName }} </td>
            <td> {{ user.firstName }} </td>
            <td> {{ user.email }} </td>
            <td> {{ user.phoneNumber }} </td>
            <td>
                {% for pet in user.pets %}
                {{ pet.pet_name }} ({{ pet.pet_species }}) link to {{ pet.record}}<br>
                <form action="/staff/records/upload_pdf/{{ pet.id }}" method="post" enctype="multipart/form-data">
                    <input type="file" name="pdf_file">
                    <button type="submit">Upload PDF</button>
                </form>
                <br>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td colspan="8"><hr></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}