{% extends 'layout.html' %}
{% block content %}

<br/>
<h1>Customer Records</h1>
<form action="/staff/records/search">
    <input type="text" name="q" placeholder="Enter Last Name...">
    <button type="submit">Search</button>
</form>
<br>
<br>
<table>
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Phone Number</th>

        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.lastName }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phoneNumber }}</td>
            <td>
               
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
