{% extends 'layout.html' %}
{% block content %}
<style>
  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
</style>
<div class="container">
  <div class="row justify-content-start">
    
    <div class="col-5">
      {% for appointment in appointments %}     
      <article class="container p-3 my-3 border">
          <div class="media-body">
            <div class="article-metadata">
              <h3 class="article-title" >{{ appointment.firstName }} {{ appointment.lastName }}</h3>
            </div>
            <h3 class="article-title" >Pets name: {{ appointment.pet_name }}</a></h3>
            <p class="article-content">Service needed:  {{ appointment.service }}</p>
            <p class="article-content">Preferred Day Week: {{ appointment.weekday }}</p>
            <p class="article-content">Preferred Time Slot: {{ appointment.timeSlot }}</p>
          </div>
          <a href="{{ url_for('schedule_appointment', id=appointment.id) }}" class="btn btn-success">Schedule</a>
        </article>
      {% endfor %}
    </div>
    <div class="col-7">
      {% include 'calendar.html' %}
    </div>
  </div> 
</div>
{% endblock %}
