{% extends 'layout.html' %}
{% block content %}
<style>
  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  </style>
<div class="container">
  <div class="row justify-content-start">
    
    <div class="col-4">
      <h3>Appointment Requests</h3>
      {% for requests in appointmnet_requests %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h3 class="article-title" >{{ requests.customer }}</h3>
            </div>
            <h3 class="article-title" >Pets name: {{ requests.pet_name }}</a></h3>
            <p class="article-content">Service needed:  {{ requests.service }}</p>
            <p class="article-content">Appointment requested on {{ requests.date_requested }}</p>
          </div>
            <a href="/staff/appointments">
              <button type="button" class="btn btn-success">
                Schedule
              </button>
            </a>          
        </article>
      {% endfor %}
      </div>

    <div class="col-8">
      <h2>Calendar</h2>


      
    </div>

  </div> 
</div>
{% endblock %}



        