{% extends 'layout.html' %}
{% block content %}
<center>
<h1>Services Page</h1>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
<style>
body {
  font-family: "Trirong", serif;
}
</style>
</head>
<body>


<p>We sees cats, dogs, goats, pigs, chickens, hedgehogs & more f
or vaccines, checkups and other routine services and exams. 
<br/>We also offer minor surgeries and spaying/neutering of animals under 40lbs (+40lbs, ask about options) routine labs & cytology, ear & skin infections, mass removals, pain management, & more! 
<br/><p style="font-size:23px">Here are a few links to help with basic pet care!</p>
<br/>
<p style="font-size:23px"> Cats:
<br/>
<p style="font-size:18px"> Help with cleaning Cat Ears:
<p style="font-size:16px"> It is best to clean a cat's ears on a regular basis. Here is a quick tip video to help out with that:
<br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/21aKN-tcKrc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br/>
<p style="font-size:23px"> Dogs:
<br/>
<p style="font-size:18px"> Nail cutting techniques:
<p style="font-size:16px"> Yes, we all can get really nervous cutting dogs nails, especially when they are not up for the challenge. Here is a quick video to show the best ways to cut your doggies nails!
<br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/sisprxhsc6I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br/>
<p style="font-size:23px"> Goats:
<p style="font-size:18px"> Before You Buy:
<p style="font-size:16px"> Are you confused on why you want to get a goat? Goats are freindly animals to have around, and can be fun for the whole family! Here are some basic things you as a future owner should know:
<br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/1x29gSHza6U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p style="font-size:23px"> Horses:
<p style="font-size:18px"> Hoof Cleaning:
<p style="font-size:16px"> Did you just finish watching Yellowstone? Do you feel like you can buy a big plot of land and put a few horses on it? Great! The first thing you might want to consider is keeping a horses hoof nice and clean on a regular basis! here is a video on how to keep up with this:
<br/>
<iframe width="560" height="315" src="https://www.youtube.com/embed/cw8gjwEtdhY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</p>
</center>

{% endblock %}