{% extends 'layout.html' %}
{% block content %}

<!--Davis-->
<section class="services">
</head>

<!--Opening Messages-->
<div class="container-fluid padding">
  <div class="row welcome text-center">
      <div class="col-12">
          <h1 class="display-4">Our Services</h1>
      </div>
  
      <div class="col-12">
          <p class="lead">We offer compassionate care for all of the following animals. 
            Our services include: vaccines, checkups and other routine services and exams.<br>
            We also offer minor surgeries and spaying/neutering of animals under 40lbs (+40lbs, ask about options) 
            routine labs & cytology, ear & skin infections, mass removals, pain management, & more!</p>

      </div>
  </div>
  </div>
  
  <!--Three Points-->
  <div class="container-fluid">
      <div class="row text-center">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <a href="#"><i class="fa-solid fa-dog" aria-hidden="true"></i></a>
              <h3>DOGS</h3>
              <p>All breeds 40lbs and under. </p>
          </div>
          <div class="col-sm-12 col-md-4">
              <i class="fa-solid fa-cat" aria-hidden="true"></i>
              <h3>CATS</h3>
              <p>All breeds, sizes, and shapes. </p>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
              <i class="fa-solid fa-horse" aria-hidden="true"></i>
              <h3>HORSES</h3>
              <p>Varying Breeds. </p>
          </div>
      
        </div>
        <hr class="my-4">
        </div>

  <!--Three Points-->
  <div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fa-solid fa-piggy-bank" aria-hidden="true"></i>
            <h3>PIGS</h3>
            <p>All breeds, sizes, and shapes. </p>
        </div>
        <div class="col-sm-12 col-md-4">
            <i class="fa-solid fa-cow" aria-hidden="true"></i>
            <h3>GOATS</h3>
            <p>Varying Breeds.  </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fa-sharp fa-solid fa-kiwi-bird" aria-hidden="true"></i>
            <h3>CHICKENS</h3>
            <p>All breeds, sizes, and shapes.  </p>
        </div>
    
    </div>
    <hr class="my-4">
    </div>

    <div class="container-fluid padding">
      <div class="text-center">
          <div class="col-12">
              <h1 class="display-4">Pet Home Care</h1>
          </div>
      
          <div class="col-12">
              <p class="lead">Welcome to our pet home care section. Here at Battleborn, we know vet services can be expensive and we want to help!
                Below are videos to help you better take care of your loved one right from the conformt of your own home. 
              </p>
          </div>
      </div>
      </div>

<!--Dog Video Block-->
<section class="dogcare">
  <body>
    <div class="container-fluid">
      <div class="text-center">
          <div class="col-12">
              <h2 id="#dogcare">Dog Care</h2>
          </div>
      
          <div class="col-12">
              <p class="lead">The following 3 videos include the following: How to care for your new puppy, How to trim your dogs nails, How to clean you dogs ears. </p>
          </div>
      </div>
      </div>
    <div class="container my-5 padding">
      <div id="videoCarousel" class="carousel slide" data-bs-interval="false">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#videoCarousel"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Video 1"
          ></button>
          <button
            type="button"
            data-bs-target="#videoCarousel"
            data-bs-slide-to="1"
            aria-label="Video 2"
          ></button>
          <button
            type="button"
            data-bs-target="#videoCarousel"
            data-bs-slide-to="2"
            aria-label="Video 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <iframe
              width="100%"
              height="400"
              src="https://www.youtube.com/embed/Tn3lZE0rRBs"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <div class="carousel-item">
            <iframe
              width="100%"
              height="400"
              src="https://www.youtube.com/embed/sisprxhsc6I"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <div class="carousel-item">
            <iframe
              width="100%"
              height="400"
              src="https://www.youtube.com/embed/5C39A9UU720"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#videoCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#videoCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>  
  </section>
<!--End Video Block-->


<!--Cat Video Block-->

<body>
  <div class="container-fluid">
    <div class="text-center">
        <div class="col-12">
            <h2>Cat Care</h2>
        </div>
    
        <div class="col-12">
            <p class="lead">The following 3 videos include the following: How to stop your cat from scratching furniture, How to trim a cats nails,
              How to safely trim a cats nails.
            </p>
        </div>
    </div>
    </div>
  <div class="container my-5 padding">
    <div id="videoCarousel1" class="carousel slide" data-bs-interval="false">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#videoCarousel1"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Video 1"
        ></button>
        <button
          type="button"
          data-bs-target="#videoCarousel1"
          data-bs-slide-to="1"
          aria-label="Video 2"
        ></button>
        <button
          type="button"
          data-bs-target="#videoCarousel1"
          data-bs-slide-to="2"
          aria-label="Video 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <iframe
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/-XZxyWEiQZM"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="carousel-item">
          <iframe
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/m3aMxh4G9DM"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="carousel-item">
          <iframe
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/VmyU1zMN8YM"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#videoCarousel1"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#videoCarousel1"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
<!--End Video Block-->
 



<!--Horse Video Block-->
<body>
  <div class="container-fluid">
    <div class="text-center">
        <div class="col-12">
            <h2>Horse Care</h2>
        </div>
    
        <div class="col-12">
            <p class="lead">The following 3 videos include the following: How to care for a horse, Daily horse care routine, Horse hoof care. </p>
        </div>
    </div>
    </div>
  <div class="container my-5 padding">
    <div id="videoCarousel2" class="carousel slide" data-bs-interval="false">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#videoCarousel2"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Video 1"
        ></button>
        <button
          type="button"
          data-bs-target="#videoCarousel2"
          data-bs-slide-to="1"
          aria-label="Video 2"
        ></button>
        <button
          type="button"
          data-bs-target="#videoCarousel2"
          data-bs-slide-to="2"
          aria-label="Video 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <iframe
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/zI8JSTGtRQc"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="carousel-item">
          <iframe
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/L_huDxSkDX0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="carousel-item">
          <iframe
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/Sv2CdYMDbDw"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#videoCarousel2"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#videoCarousel2"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>  
<!--End Video Block-->


<!--Pig Video Block-->
<body>
  <div class="container-fluid">
    <div class="text-center">
        <div class="col-12">
            <h2>Pig Care</h2>
        </div>
    
        <div class="col-12">
            <p class="lead">The following 3 videos include the following: How to keep pigs at home, How to take care of a pet pig, Pet mini pig basic care. </p>
        </div>
    </div>
    </div>
  <div class="container my-5 padding">
    <div id="videoCarousel3" class="carousel slide" data-bs-interval="false">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#videoCarousel3"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Video 1"
        ></button>
        <button
          type="button"
          data-bs-target="#videoCarousel3"
          data-bs-slide-to="1"
          aria-label="Video 2"
        ></button>
        <button
          type="button"
          data-bs-target="#videoCarousel3"
          data-bs-slide-to="2"
          aria-label="Video 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <iframe
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/l_3BZ4L_dEc"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="carousel-item">
          <iframe
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/9IoEgvZHJok"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="carousel-item">
          <iframe
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/a_Rg_znRrFM"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#videoCarousel3"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#videoCarousel3"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>  
<!--End Video Block-->


<!--Goat Video Block-->
<body>
  <div class="container-fluid">
    <div class="text-center">
        <div class="col-12">
            <h2>Goat Care</h2>
        </div>
    
        <div class="col-12">
            <p class="lead">The following 3 videos include the following: What you need ready for your first goat, Rasing goat basics, How to keep goats thriving in winter.</p>
        </div>
    </div>
    </div>
  <div class="container my-5 padding">
    <div id="videoCarousel4" class="carousel slide" data-bs-interval="false">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#videoCarousel4"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Video 1"
        ></button>
        <button
          type="button"
          data-bs-target="#videoCarousel4"
          data-bs-slide-to="1"
          aria-label="Video 2"
        ></button>
        <button
          type="button"
          data-bs-target="#videoCarousel4"
          data-bs-slide-to="2"
          aria-label="Video 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <iframe
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/0OAu4e8bRgo"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="carousel-item">
          <iframe
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/1x29gSHza6U"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="carousel-item">
          <iframe
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/2gJb-wEk5w0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#videoCarousel4"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#videoCarousel4"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>  
<!--End Video Block-->


<!--Chickens Video Block-->
<body>
  <div class="container-fluid">
    <div class="text-center">
        <div class="col-12">
            <h2>Chicken Care</h2>
        </div>
    
        <div class="col-12">
            <p class="lead">The following 3 videos include the following: Raising Chickens: Everything You Need To Know, Backyard Chickens for Beginners, How to raise chickens.</p>
        </div>
    </div>
    </div>
  <div class="container my-5 padding">
    <div id="videoCarousel5" class="carousel slide" data-bs-interval="false">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#videoCarousel5"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Video 1"
        ></button>
        <button
          type="button"
          data-bs-target="#videoCarousel5"
          data-bs-slide-to="1"
          aria-label="Video 2"
        ></button>
        <button
          type="button"
          data-bs-target="#videoCarousel5"
          data-bs-slide-to="2"
          aria-label="Video 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <iframe
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/wuOd5_M9yDQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="carousel-item">
          <iframe
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/SDppwYI8AgU"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="carousel-item">
          <iframe
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/VUtDlccPbRI"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#videoCarousel5"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#videoCarousel5"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>  
<!--End Video Block-->


  </section>

 <!--Footer-->
 <footer>
  <div class="container-fluid padding">
      <div class="row text-center">
          <div class="col-md-4">
              <img src={{ url_for('static', filename='images/bmvhlogo.jpeg' ) }} width="50" height="50">
              <hr class="light">
              <p>(775) 360-6148</p>
              <p>Matt@Battlebornmvh.com</p>
              <p>Please allow up to 48 hours for a call back or returned email.</p>
          </div>
          <div class="col-md-4">
              <hr class="light">
              <h5>Our Hours</h5>
              <hr class="light">
              <p>Friday: By appointment only</p>
              <p>Saturday: By appointment only</p>
              <p>Sunday: By appointment only</p>
          </div>
          <div class="col-md-4">
              <hr class="light">
              <h5>Service Area</h5>
              <hr class="light">
              <p>Reno, NV</p>
              <p>Spark, NV</p>
              <p>Carson City, NV</p>
              <p>Minden, NV</p>
          </div>
          <div class="col-expand-lg">
              <hr class="light">
              <h5>&copy; https://battlebornmvh.com </h5>
          </div>
      </div>
  </div>
</footer>
{% endblock %}