{% extends 'layout.html' %}

{% block content %}
<h1>Update User</h1>


<br/>
<h1>Customer Records</h1>
<form action="/staff/records/search">
    <input type="text" name="q" placeholder="Enter Last Name...">
    <button type="submit">Search</button>
</form>
<br>
<br>
<table>
    {% for user in users %}
    <tr>
        <td>{{ user.lastName }}, {{ user.firstName }}</td>
        <td>    {{ user.email }}</td>
        <td>    {{ user.phoneNumber }}</td>
        
    </tr>

    {% endfor %}
</table>


{% endblock %}