<!-- 
Team Memebers Contributiing to this page: 
Donald Bailie - 
 -->
{% extends 'layout.html' %}
{% block content %}
<style>
    table, td, th {border: 1px solid #ddd; text-align: left;}
    table {border-collapse: collapse; width: 100%;}
    th, td {padding: 15px;}
</style>

<a href="/admin/tools">
    <button type="button">Admin Tools</button>
</a>    

<h1>Update User Access</h1>

<h1>Search Results for "{{ search_query }}"</h1>
<form action="/admin/useraccess">
    <input type="text" name="q" placeholder="Enter Last Name..." value="{{ search_query }}">
    <button type="submit">Search</button>
    {% if search_query %}
        <a href="/admin/useraccess">
            <button type="button">Clear</button>
        </a>
    {% endif %}
</form>

    <br>
    <table>
        {% for user in users %}
        <tr>
            <td> {{ user.id }} </td>
            <td> {{ user.lastName }} </td>
            <td> {{ user.firstName }} </td>
            <td> {{ user.email }} </td>
            <td> {{ user.phoneNumber }} </td>
            <td><form action="{{ url_for('update_access', user_id=user.id) }}" method="POST">
                <label>
                    <input type="checkbox" name="active" {% if user.active %}checked{% endif %}>
                    Active
             
                <br>
             
                    <input type="checkbox" name="staff_access" {% if user.StaffAccess %}checked{% endif %}>
                    Staff Access
             
                <br>
         
                    <input type="checkbox" name="admin_access" {% if user.AdminAccess %}checked{% endif %}>
                    Admin Access
                </label>
                <br>
                <button type="submit">Save</button>
            </form></td>
        </tr>
     

        {% endfor %}
    </table>
</table>


{% endblock %}
