<!-- 
Team Memebers Contributiing to this page: 
Donald Bailie - 
Spencer Carter - -->

{% extends "layout.html" %}
{% block content %}
    <title>Verify Your Phone Number</title>
    <style>
        .verification-code-input {
            width: 300px; /* change this value to adjust the width */
            height: 40px;
            margin: 0 5px;
            padding: 5px;
            font-size: 20px;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
        }
    </style>
<body>
    <h1>Verify Your Phone Number</h1>
    <form method="POST" action="/check_verification_code">
        <label for="verification_code">Enter your verification code:</label>
        <div>
            <input class="verification-code-input" type="text" maxlength="6" name="verification_code" autofocus>
        </div>
        <input type="hidden" name="phoneNumber" value="{{ phoneNumber }}">
        <br>
        <small>Enter the 6-digit code sent to your phone number</small>
        <button type="submit">Verify code</button>
    </form>
    <script>
        const input = document.querySelector('.verification-code-input');
        input.addEventListener('input', function(e) {
            if (this.value.length == this.maxLength) {
                this.blur();
            }
        });
    </script>
{% endblock content %}