
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
  height: 100%;
  width: 100%;
  font-family: 'poppins', sans-serif;
  color: black;

}

.navbar {
  padding: .8rem;
}

.navbar-nav li {
 padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important
}

.carousel {
 width: relative;
 height: relative;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  postition: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
  passing-bottom: 1rem;
}

.btn-primary{
  background-color: #9c008a;
  border: 1px solid #000
}

.btn-primary:hover {
  background-color: #003366;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  position: center;
  margin: 0;
  padding-top: 2rem
}

.welcome hr {
  border-top: 2px solid #101010;
  size: 1px;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.fa-users {
  color: #00843D
}

.fa-car {
  color: #FFA300
}

.fa-user-md {
  color: #005a9c
}

.fa-users, .fa-car, .fa-user-md {
  font-size: 4em;
  margin: 1rem;
}

.social a{
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00ACED;
}
.fa-google {
  color: #dd4b39;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-google:hover {
  color: #d5d5d5
}

footer {
  background-color:#283849;
  color: #d5d5d5;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  margin-top: .8rem;
  margin-bottom: 1rem;
}


@media (max-width: 992px){

}

@media (max-width: 768px){

}

@media (max-width: 576px){
}

.carousel-item {
  transition: -webkit-transform 0.9s ease;
  transition: transform 0.9s ease;
  transition: transform 0.9s ease, -webkit-transform 0.9s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('images/van.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: tanslateZ(0);
            transform:   translateZ(0);
  will-change: transform;
}


hr.border {
  border: 1px solid black
}


/*About us page formatting*/
.aboutus {
  padding: 15vmin 0;
 }


 .aboutus .row .col-mid-6 .matt img{
  opacity: 0.8;
  width: 80%;
  border-radius: 0.2em;
 }

 .aboutus .row .col-md-6:last-child{
  position: relative;
 }

 .aboutus .row .col-md-6 .panel{
  position: absolute;
  top: 17vmin;
  left: 80vmin;
  right: -100vmin;
  background: white;
  border-radius: 1px;
  text-align:left;
  padding: 0vmin 5vmin 5vmin 5vmin;
  box-shadow: 20px 0px 35px rgba(0,0,0,0.2);
 }

/*Services*/
.services {
  padding: vmin -5;
 }

 .services .fa-dog, .fa-cat, .fa-horse, .fa-piggy-bank, .fa-cow, .fa-kiwi-bird {
  font-size: 4em;
  margin: 1rem;
}

.services .fa-dog {
  color: #b86d29;
}

.services .fa-cat {
  color: 	#656874;
}

.services .fa-horse {
  color: 	#422714;
}

.services .fa-piggy-bank {
  color: #d9a4be;
}

.services .fa-cow {
  color: #d3c2a6;
}

.services .fa-kiwi-bird {
  color: #ebd65b;
}

.services .padding {
  padding-bottom: 3rem;
}

/*Contact*/
.contact .fa-clock, .fa-phone, .fa-envelope {
  font-size: 2em;
  margin: 1rem;
}

.contact .fa-exclamation {
  font-size: 2em;
  margin: 1.5rem;
}

.contact .fa-clock, .fa-phone, .fa-envelope, .fa-exclamation {
  color: #ffffff;
}

.contact{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

.contact .container{
  width: 1000px!important;
}

.contact p{
  font-size: 12px;
}

.contact h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif!important;
}
.contact .bg-primary{
  background-color: #003366 !important;
  font-family:Verdana, Geneva, Tahoma, sans-serif!important;

}
.contact .form-control {
  height: 36px;
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  border-radius: 2px;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.contact .contactForm .form-control {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}


.contact .form-control:focus,.form-control:active {
  border-color: #01d28e !important;
}
.contact .form-label {
  color: #000;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.contact .btn.btn-primary {
  background: #FFA300 !important;
  border-color: #FFA300 !important;
  color: #fff;
  width: 100px;
  border-radius: 0!important;
  
}
.contact .btn.btn-primary:hover{
  background-color: #ebd65b!important;
}

.contact .bi{
  font-size: 50px;
}
@media only screen and (max-width: 600px) {
  .contact .container{
      width: 100%!important;
      padding-bottom: 207px!important;
  }
}


/*Signup*/

.signup{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.signup .img{
  border-top-left-radius: 30px;
  width: fit-content;
}


.test{
  margin: 0;
  padding: 0px, 0px;
 

}

.test .body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #e6e6e6, #ffffff);
  padding: 20px 0px 20px 0px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.test .container{
  position: relative;
  
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.test .container .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.test .container .form{
  height: 100%;
  width: 100%;
  background: #fff;

}

.test .container .cover{
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 50%;
   
  

}

.test .container .cover img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.test .text {
  position: absolute;
  top: 30%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: white;
}

@media (max-width: 992px) {
  .test .imgSection {
    display: none;
  }
}



/*Login*/
.login {
  position: relative;
  overflow: hidden;
}

.login img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.login .border-top{
  padding-bottom: 100px;
}

.login legend{
  color: white;
  font-size: 70px;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 60px;
  display: flex;
}

.login .content-section{
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 25px;
}

.login .form-control {
  width: 500px;
  height: 40px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
  
}

.login .form-check{
  font-size: 18px;
}

.login .btn {
  background-color: white;
  border: none;
  border-radius: 30px;
  height: 50px;
  width: 500px;
  color: black;
  font-size: 20px;
  text-align: center;
}
.login .btn:hover{
background-color: #003366;
border-color: white;
}

.login small a {
  color: white; 
}

.login .account-q {
  color: #ececec;
  font-size: 17px;
}

.login .sign-up{
  font-size: 18px;
}

